extends layout

block content
  h1= title
  p gooogle Details
  div(class="container-fluid")
        div(class="row")
            - let gooogle = results
            each v,index in gooogle
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.gooogle_itemname}
                
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.gooogle_quantity}
                
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.gooogle_price}
                br
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }